@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #7C2E9A;
  --dark-purple: #662D86;
}

* {
    box-sizing: border-box;
    font-family: var(--font-montserrat);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #ffffff;
      caret-color: white;
  }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus {
  outline: none;
}